@import 'styles/colors';
@import 'styles/common';

.wrapper {
  @extend .flexCol;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  gap: 10px;
}

.hoverEffect {
  &:hover {
    background: $veryLightGray1;
  }
}

.button {
  background: none;

  &:hover {
    background: $veryLightGray2;
  }
}

.tablink {
  div {
    color: $veryDarkGrayishBlue;
    font-weight: bold;
    gap: 10px;
  }
}
