<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@import 'styles/colors.scss';
@import 'styles/common.scss';
=======
@import '../../../styles/colors.module.scss';
@import '../../../styles/common.module.scss';
>>>>>>> 3676363 (Add Button Component)
=======
@import 'styles/colors.scss';
@import 'styles/common.scss';
>>>>>>> eaf1179 (Resove)
=======
@import '../../../styles/colors.module.scss';
@import '../../../styles/common.module.scss';
>>>>>>> ef7cf4b (Add Button Component)

.container {
  padding: 9px 11px;
  display: flex;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;

  .icon {
    width: 1rem;
    height: 1rem;
    @extend .flexCenter;
    border-radius: 50%;
  }

  .label {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.primary {
  background: $vividBlue;

  .icon {
    background: $white;

    svg {
      fill: $vividBlue;
    }
  }

  .label {
    color: $white;
  }

  &:hover {
    background: $strongBlue;
  }
}

.secondary {
  background: $lightGrayishBlue;

  .icon {
    background: $transparent;

    svg {
      fill: $black;
    }
  }

  .label {
    color: $text;
  }

  &:hover {
    background: $veryLightGray;
  }
}
