@import 'styles/colors';
@import 'styles/common';

.container {
  position: relative;
  width: 130px;
  height: 56px;
  padding: 3px;

  .icon {
    @extend .flexCenter;
    height: 54px;
  }

  .borderBot {
    position: absolute;
    width: 100%;
    height: 3px;

    bottom: -5%;
  }
}

.primary svg {
  stroke: none;
  fill: $vividBlue;
}

.secondary {
  border-radius: 10px;

  &:hover {
    background: $veryLightGray;
  }
}
