$lightGrayishBlue: #e4e6eb;
$lightGrayishBlue2: #f0f2f5;
$darkGrayishBlue: #6e7074;
$veryLightGray1: #dddddd;
$veryLightGray2: #f2f2f2;
$boxShadow: #00000033;
$boxShadow2: #0000001a;
$white: #fff;
$black: #000;
$vividBlue: #1b74e4;
$strongBlue: #1a6ed8;
$transparent: transparent;
$text: #270905;
$veryDarkGrayishBlue: #686a6e;
$veryDarkGrayishCyan: #656e6f;
$darkLimeGreen: #00a400;
$veryPaleBlue: #e7f3ff;
$shadow1: rgb(0, 0, 0, 0.1);
$shadow2: rgb(0, 0, 0, 0.2);
$primaryText: #050505;
$secondaryText: #65676b;
