$lightGrayishBlue: #e4e6eb;
$darkGrayishBlue: #6e7074;
$veryLightGray: #dddddd;
$white: #fff;
$black: #000;
$vividBlue: #1b74e4;
$strongBlue: #1a6ed8;
$transparent: transparent;
$text: #270905;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
$veryDarkGrayishBlue: #686a6e;
<<<<<<< HEAD
=======
>>>>>>> 3676363 (Add Button Component)
=======
$veryDarkGrayishCyan: #656e6f;
>>>>>>> 2f3533d (Add Searchbar Component)
=======
>>>>>>> ef7cf4b (Add Button Component)
=======
$veryDarkGrayishBlue: #686a6e;
>>>>>>> 2c5db88 (Add Tablink Component)
