$lightGrayishBlue: #e4e6eb;
$darkGrayishBlue: #6e7074;
$veryLightGray1: #dddddd;
$veryLightGray2: #f2f2f2;
$boxShadow: #00000033;
$white: #fff;
$black: #000;
$vividBlue: #1b74e4;
$strongBlue: #1a6ed8;
$transparent: transparent;
$text: #270905;
$veryDarkGrayishBlue: #686a6e;
$veryDarkGrayishCyan: #656e6f;
$veryDarkGrayishBlue: #686a6e;
$veryDarkGrayishCyan: #656e6f;
$darkLimeGreen: #00a400;
