.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAlignCen {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexAlignSt {
  display: flex;
  align-items: flex-start;
}

.divider {
  border-top: 1px solid $lightGrayishBlue;
}

.boxShadow {
  box-shadow: 0 1px 2px $boxShadow;
}
